<div style="padding: 20px;" *ngIf="question">
  <nz-space>
    <nz-space-item>
      错题模式
      <nz-switch [(ngModel)]="mistakeMode"></nz-switch>
    </nz-space-item>
    <nz-space-item *ngIf="!this.mistakeMode">
      随机模式
      <nz-switch [(ngModel)]="randomMode"></nz-switch>
    </nz-space-item>
  </nz-space>
  <nz-divider></nz-divider>
  <nz-space class="button-class">
    <nz-space-item>
      <button nz-button (click)="pre()" *ngIf="!this.randomMode">上一题</button>
    </nz-space-item>
    <nz-space-item>
      <button nz-button (click)="next()">下一题</button>
    </nz-space-item>
  </nz-space>
  <nz-divider [nzText]="'第'+(index + 1)+'题'"></nz-divider>
  <p style="font-weight: bold">{{question.question}}</p>
  <div style="padding: 20px;">
    <div>选项：</div>
    <nz-radio-group [(ngModel)]="answer" (ngModelChange)="answerChange($event)">
      <label nz-radio nzValue="A">A:{{question.options[0]}}</label>
      <label nz-radio nzValue="B">B:{{question.options[1]}}</label>
      <label nz-radio nzValue="C">C:{{question.options[2]}}</label>
      <label nz-radio nzValue="D">D:{{question.options[3]}}</label>
      <label nz-radio nzValue="E">E:{{question.options[4]}}</label>
    </nz-radio-group>
  </div>
  <div *ngIf="answer">
    <div [style.color]="question.answer===answer?'black':'red'">正确答案:{{question.answer}}</div>
    <div>{{question.analysis}}</div>
  </div>
  <nz-divider></nz-divider>
  <div>共{{this.questions.length}}题，跳转到：
    <nz-input-number nzMin="1" [nzMax]="questions.length" [formControl]="gotoIndex"></nz-input-number>
  </div>
</div>
